.reveal{
  background-color: #0e253a;
  color: #fcf8e3;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: deeppink;
}

.reveal code, .reveal pre {
    color: white;
}

code.hljs {
    background-color: #2e4156;
}
